<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ í¬íŠ¸í´ë¦¬ì˜¤ì˜ ì‚¬ëŒë³„ ì´í•©ì„ ê³„ì‚°í•˜ì„¸ìš”.
- ê²°ê³¼ëŠ” `res`ì— listí˜•íƒœë¡œ ì €ì¥í•©ë‹ˆë‹¤.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [25]:
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤
import pandas as pd
df = pd.DataFrame([
              ['X', 'A', 100, 35],
              ['X', 'B', 500, 10],
              ['X', 'C', 250, 25],
              ['X', 'D', 50, 40],
              ['Y', 'A', 100,'-'],
              ['Y', 'B', 500, 50],
              ['Y', 'C', 250, 50],
              ['Y', 'D', 50,'-'],
              ['Z', 'A', 100,'-'],
              ['Z', 'B', 500,'-'],
              ['Z', 'C', 250, 100],
              ['Z', 'D', 50,'-']],
              
 columns = ['People', 'Name','Price','Amount'])
res=[]
df1=df.replace('-',0)
X_price=df1['Price'][0:4]
X_amount=df1['Amount'][0:4]
Y_price=df1['Price'][5:9]
Y_amount=df1['Amount'][5:9]
Z_price=df1['Price'][10:14]
Z_amount=df1['Amount'][10:14]
res.append(X_price.dot(X_amount))
res.append(Y_price.dot(Y_amount))
res.append(Z_price.dot(Z_amount))
res

[16750, 37500, 25000]

## 2. Norms
ì£¼ì–´ì§„ ê°’ $x_0, x_1, ... x_n$ ë¥¼ elementë¡œ ê°–ëŠ” ë²¡í„° $v$ì— ëŒ€í•˜ì—¬ 

$L_1$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬ ì£¼ì–´ì§„ ë²¡í„°ì— ëŒ€í•´ì„œ $L_2$ Norm ì˜ ê°’ê³¼ $L_1$ Norm ì˜ ê°’ì˜ ì°¨ì´(**ì ˆëŒ€ê°’**)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“œì„¸ìš”.

In [41]:
import numpy as np
def NormDif(v): # v = np.array()
    L1=np.abs(v).sum()
    L2=np.sqrt(np.power(v,2).sum())
    Diff = L1 - L2
    return np.abs(Diff)
NormDif([1,2,3,4])

4.522774424948339

## 3. Errors



- 2ê°œì˜ ë²¡í„°ì™€, errorì˜ íƒ€ì…ì„ ì…ë ¥ë°›ì•„ ê·¸ ê²°ê³¼ê°’ì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

- ì—¬ê¸°ì„œ errorì˜ íƒ€ì…ì€ `MSE`, `MAE` 2ê°€ì§€ ì…ë‹ˆë‹¤.

In [73]:
def error(x, y, type) :
    L1=np.abs(x-y).sum()
    MAE=L1/ len(x)
    L2=np.sqrt(np.power(x-y,2).sum())
    MSE=L2 / len(x)

    if type == 'MSE':
        result = MSE
    elif type == 'MAE':
        result = MAE
    else:
        result=print('Put error type correctly')
    return result

error(np.array([1,2,3,4]),np.array([1,2,3,5]), 'MSE')

0.25

# 4. Inverse

- ì£¼ì–´ì§„ matrixì— ëŒ€í•´ì„œ inverse matrixë¥¼ ê³„ì‚°í•˜ì—¬ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”. 
- ì´ ë•Œ inverse ê³„ì‚°ì´ ë¶ˆê°€ëŠ¥ í•œ ê²½ìš° `-1` ì„ ë°˜í™˜í•©ë‹ˆë‹¤.

In [84]:
def myInverse(m) : # m = np.array()
    
    if np.linalg.det(m) == 0:
        result = -1
    else:
        result = np.linalg.inv(m)
    return result

m = np.array([[1, 2], [1, 2]])
print(myInverse(m))
a = np.array([[1, 2, 100], [1, 2, 3], [3, 2, 6]])
print(myInverse(a))

-1
[[-0.01546392 -0.48453608  0.5       ]
 [-0.00773196  0.75773196 -0.25      ]
 [ 0.01030928 -0.01030928  0.        ]]

# ğŸ”¥ ë„ì „ê³¼ì œ

ë‹¤ìŒ ë§í¬ì˜ ë‚´ìš©ì„ ì°¸ì¡°í•˜ì—¬ **Cramer's rule**ì„ ì‚¬ìš©í•´ $x_1$, $x_2$, $x_3$ì˜ ê°’ì„ êµ¬í•˜ì„¸ìš”.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x_3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [221]:
b=np.array([6, 30, 8])
A=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x1=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x2=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x3=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])

#ê° Aì˜ ì¹¼ëŸ¼ì„ bë¡œ ëŒ€ì²´
A_x1.T[0] = b
A_x2.T[1] = b
A_x3.T[2] = b

d_Ax1=np.linalg.det(A_x1)
d_Ax2=np.linalg.det(A_x2)
d_Ax3=np.linalg.det(A_x3)

d_A=np.linalg.det(A)

X=[]
x1=d_Ax1/d_A
X.append(x1)
x2=d_Ax2/d_A
X.append(x2)
x3=d_Ax3/d_A
X.append(x3)

print(X)
print('x1 =',x1)
print('x2 =',x2)
print('x3 =',x3)

[-0.9090909090909088, 1.6363636363636358, 3.4545454545454533]
x1 = -0.9090909090909088
x2 = 1.6363636363636358
x3 = 3.4545454545454533

In [235]:
#ê²€ì‚°
np.dot(np.linalg.inv(A),b)

array([-0.90909091,  1.63636364,  3.45454545])