<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [25]:
# 이곳에 답안을 작성하시기 바랍니다
import pandas as pd
df = pd.DataFrame([
              ['X', 'A', 100, 35],
              ['X', 'B', 500, 10],
              ['X', 'C', 250, 25],
              ['X', 'D', 50, 40],
              ['Y', 'A', 100,'-'],
              ['Y', 'B', 500, 50],
              ['Y', 'C', 250, 50],
              ['Y', 'D', 50,'-'],
              ['Z', 'A', 100,'-'],
              ['Z', 'B', 500,'-'],
              ['Z', 'C', 250, 100],
              ['Z', 'D', 50,'-']],
              
 columns = ['People', 'Name','Price','Amount'])
res=[]
df1=df.replace('-',0)
X_price=df1['Price'][0:4]
X_amount=df1['Amount'][0:4]
Y_price=df1['Price'][5:9]
Y_amount=df1['Amount'][5:9]
Z_price=df1['Price'][10:14]
Z_amount=df1['Amount'][10:14]
res.append(X_price.dot(X_amount))
res.append(Y_price.dot(Y_amount))
res.append(Z_price.dot(Z_amount))
res

[16750, 37500, 25000]

## 2. Norms
주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(**절대값**)를 계산하는 함수를 만드세요.

In [41]:
import numpy as np
def NormDif(v): # v = np.array()
    L1=np.abs(v).sum()
    L2=np.sqrt(np.power(v,2).sum())
    Diff = L1 - L2
    return np.abs(Diff)
NormDif([1,2,3,4])

4.522774424948339

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

In [73]:
def error(x, y, type) :
    L1=np.abs(x-y).sum()
    MAE=L1/ len(x)
    L2=np.sqrt(np.power(x-y,2).sum())
    MSE=L2 / len(x)

    if type == 'MSE':
        result = MSE
    elif type == 'MAE':
        result = MAE
    else:
        result=print('Put error type correctly')
    return result

error(np.array([1,2,3,4]),np.array([1,2,3,5]), 'MSE')

0.25

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

In [84]:
def myInverse(m) : # m = np.array()
    
    if np.linalg.det(m) == 0:
        result = -1
    else:
        result = np.linalg.inv(m)
    return result

m = np.array([[1, 2], [1, 2]])
print(myInverse(m))
a = np.array([[1, 2, 100], [1, 2, 3], [3, 2, 6]])
print(myInverse(a))

-1
[[-0.01546392 -0.48453608  0.5       ]
 [-0.00773196  0.75773196 -0.25      ]
 [ 0.01030928 -0.01030928  0.        ]]

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x_3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [221]:
b=np.array([6, 30, 8])
A=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x1=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x2=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])
A_x3=np.array([[1,0,2],[-3,4,6],[-1,-2,3]])

#각 A의 칼럼을 b로 대체
A_x1.T[0] = b
A_x2.T[1] = b
A_x3.T[2] = b

d_Ax1=np.linalg.det(A_x1)
d_Ax2=np.linalg.det(A_x2)
d_Ax3=np.linalg.det(A_x3)

d_A=np.linalg.det(A)

X=[]
x1=d_Ax1/d_A
X.append(x1)
x2=d_Ax2/d_A
X.append(x2)
x3=d_Ax3/d_A
X.append(x3)

print(X)
print('x1 =',x1)
print('x2 =',x2)
print('x3 =',x3)

[-0.9090909090909088, 1.6363636363636358, 3.4545454545454533]
x1 = -0.9090909090909088
x2 = 1.6363636363636358
x3 = 3.4545454545454533

In [235]:
#검산
np.dot(np.linalg.inv(A),b)

array([-0.90909091,  1.63636364,  3.45454545])